<div class="modal-header popUpHeader">Add Topic</div>
<div class="modal-body">
	<div class="form-group">
	<label for="topic">Topic</label>
	<input type="text" class="form-control" id="topic">
	</div>
	
	<div class="form-group">
	<label for="subtopic">Sub-Topic</label>
	<input type="text" class="form-control" id="subtopic">
	</div>
</div>
<div class="modal-footer 0BodyPadding">
  <button ng-click="save()" class="btn popUpButton saveButton" >Save</button>
  <button ng-click="close()" class="btn popUpButton cancelButton" >Cancel</button>
</div>