#profile_page .user_tabs .active>a, #profile_page .active>a{
	color: #000 !important;
	text-decoration: none;
	font-family: "SourceSerifPro-Semibold";
}

.errorDiv{
	margin-top:100px;
	height:150px;
}

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}


.border-box {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.calMobileDisplay{
    display: inline-block;
}

calendar {
    float:left;
    display:block;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    background:white;
    margin-bottom: 10px;
    font-family: "Montserrat-Light";
    font-size: 12px;
}

calendar >div.header {
     float:left;
     width:100%;
     background:white;
     height:40px;
     color:black;
     text-align: center;
}

calendar >div.header>* {
     height:40px;
     line-height:40px !important;
     display:inline-block;
     vertical-align:middle;
     color: #565656;
}

calendar >div.header>span {
    font-size: 14px;
    font-weight: normal !important;
}

calendar >div.header>span.glyphicon.glyphicon-chevron-left {
    float: left;
}

calendar >div.header>span.glyphicon.glyphicon-chevron-right {
    float: right;
}

calendar>div.week {
     float:left;
     width:100%;
}

calendar>div.week.names{
    border-top:solid 1px #f2f2f2;
    border-bottom:solid 1px #f2f2f2;
}

calendar>div.week:first-child {
    border-top:none;
}

calendar>div.week>span.day {
     float:left;
     width:14.28%;
     box-sizing:border-box;
     -moz-box-sizing:border-box;
     font-size:0.75em;
     text-align:center;
     height:30px;
     line-height:30px !important;
     display:inline-block;
     vertical-align:middle;
     background:white;
     cursor:pointer;
     color:black;
}

calendar>div.week>span.day:first-child {
    border-left:none;
}

calendar>div.week>span.day.today {
    background:#565656 !important;
    color: white;
}

calendar>div.week>span.day.differentMonth {
    color:#808080;
}

calendar>div.week>span.day.disabledDate {
    color:#808080;
    cursor: not-allowed;
}

calendar>div.week>span.day.selected {
    background:#565656;
    color:black;
}

calendar>div.week>span.day.activeEventDate {
    background:#d8d8d8;
}

calendar>div.week>span.day.otherEventDate {
    background: #f2f2f2;
}

calendar>div.week>span {
    color:#2875C7;
    font-weight:bold;
}

/*pre-program page*/

.program-activity-icons {margin-top:0!important;}
.container{position: relative;}
.loadingSpinner{
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left:  46%;
}

.disableArrow{
    color: #ccc !important;
    cursor: not-allowed;
}

#pracLogHis_tableBlock .pracLogHis_tableContainer .disabledBtn{
    background:#ccc !important;
    cursor:not-allowed;
}

.new_month{
    border-top: 4px solid #d4d4d4;
}